<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>userList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>用户列表</h1>
<br/><br/>
<div class="with:80%">
    <form th:action="@{/note/add}" method="post" th:object="${note}">
        <input th:type="hidden" name = "id" th:value="${note.id}">
        <input th:type="text" name="name" th:value="${note.name}" />
        <textarea name="content" th:value="${note.content}"></textarea>
        <button type="submit">提交</button>
    </form>
</div>


</body>
</html>